.coverimg {
    z-index: -1;
    background-image: url(./img/cover-bg.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100%;
    -webkit-mask-image: url('data:image/svg+xml;utf8,<svg preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0" y="0" viewBox="0 0 100 100" xml:space="preserve"><style type="text/css">.blur{filter:url(%23softedge);}</style><filter id="softedge"><feGaussianBlur stdDeviation="3.5"></feGaussianBlur></filter><g class="blur"><rect x="10" y="10" width="90" height="80"/></g></svg>');
    -webkit-mask-size: cover;
    /* background-position-x: calc(59vw); */
}

.fade-in-left {
    position: relative;
    opacity: 0;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-name: fade-in-left;
    -webkit-animation-fill-mode: forwards; /* Chrome 16+, Safari 4+ */
    -moz-animation-fill-mode: forwards; /* FF 5+ */
    -o-animation-fill-mode: forwards; /* Not implemented yet */
    -ms-animation-fill-mode: forwards; /* IE 10+ */
    animation-fill-mode: forwards;
}

@keyframes fade-in-left {
    from {
        left: -2rem;
        opacity: 0;
    }

    to {
        left: 0rem;
        opacity: 1;
        --cover-sub-title-pos: 0rem;
        --cover-sub-title-opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

.line-1 {
    position: relative;
    top: 50%;
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255, 255, 255, 0.75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
}

/* Animation */
.anim-typewriter {
    animation: typewriter 4s steps(44) 1s 1 normal both,
        blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter {
    from {
        width: 0;
    }
    to {
        width: 14em;
    }
}
@keyframes blinkTextCursor {
    from {
        border-right-color: rgba(255, 255, 255, 0.75);
    }
    to {
        border-right-color: transparent;
    }
}

